services:
  bot:
    image: ghcr.io/floshv1/floshy-bot:latest
    container_name: floshy-bot
    restart: unless-stopped
    env_file:
      - ../.env
    volumes:
      - ../data:/app/data
      - ../logs:/app/logs
      - uv-cache:/root/.cache/uv
    networks:
      - bot-network
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Paris
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=300
      - WATCHTOWER_NOTIFICATION_URL=${WATCHTOWER_NOTIFICATION_URL:-}
    command: --cleanup --label-enable --interval 300
    restart: unless-stopped
    networks:
      - bot-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"


networks:
  bot-network:
    driver: bridge

volumes:
  uv-cache:
    driver: local